@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
	:root {
		--background: 0 0% 100%;
		--foreground: 240 10% 3.9%;
		--brand: 266 100% 50%;
		--brand-foreground: 270 100% 98%;
		--muted: 240 4.8% 95.9%;
		--muted-foreground: 240 3.8% 46.1%;
	}
 
	.dark {
		--background: 240 10% 3.9%;
		--foreground: 0 0% 98%;
		--brand: 266 70% 60%;
		--brand-foreground: 270 100% 98%;
		--muted: 240 3.7% 15.9%;
		--muted-foreground: 240 5% 64.9%;
	}
}

@layer utilities {
	.bg-gradient-muted {
		@apply bg-gradient-to-b from-muted/50 to-muted/10 hover:from-muted/60 hover:to-muted/20;
	}
  
	.bg-gradient-brand {
		@apply bg-gradient-to-b from-brand/20 to-brand/5 hover:from-brand/30 hover:to-brand/10;
	}
}
